body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    font-family: "Orator Std";
    letter-spacing: .1rem;
    font-style: italic;
    background: #f0eadc;
    color: #4b414a;
    outline: none;
    text-transform: lowercase;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    width: 98%;
    margin-left: 2%;
}

.title {
    text-shadow: 0 .1rem .1rem rgba(0, 0, 0, 0.1);
}

.title span {
    color: #c36c30;
}
  
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.directions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
  
.pointer {
    width: 0;
    height: 0;
    border-top: 30px solid 	#4b414a;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}
  
.sphere {
    width: 500px;
    height: 500px;
    position: relative;
    margin: 130px 0px 180px 0px;
}
  
#canvas {
    position: absolute;
    border-radius: 50%;
}
  
@keyframes wheelSpin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1920deg);
    }
}

.main {
    margin: 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.lists {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin-bottom: 50px;
    text-decoration: none;
}

.lists a {
    text-decoration: none;
    color: #c36c30;
}