body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    font-family: "Orator Std", 'Courier New', Courier, monospace;
    letter-spacing: .1rem;
    font-style: italic;
    background: #f0eadc;
    color: #4b414a;
    outline: none;
    text-transform: lowercase;
    font-size: 13px;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    width: 98%;
    margin-left: 2%;
}

.title {
    text-shadow: 0 .1rem .1rem rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.title span {
    color: #c36c30;
}
  
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.directions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
  
.pointer {
    width: 0;
    height: 0;
    border-top: 30px solid 	#4b414a;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}
  
.sphere {
    width: 500px;
    height: 500px;
    position: relative;
    margin: 130px 0px 180px 0px;
}
  
#canvas {
    position: absolute;
    border-radius: 50%;
}
  
@keyframes wheelSpin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1920deg);
    }
}

.main {
    margin: 100px 20px 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    max-width: 100%;
}

.lists {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 20px;
    text-decoration: none;
}

.lists a {
    text-decoration: none;
    color: #c36c30;
    margin: 0px 10px;
}

.project {
    width: 370px;
    height: 200px;
    margin: 15px 25px;
}

.one {
    margin-bottom: 50px;
} 

.description {
    letter-spacing: 0rem;
}

.project-title {
    font-weight: bold;
}

.project-grid {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.line {
    display: flex;
    align-items: center;
}

.languages {
    font-size: 12px;
}

.contact {
    width: 385px;
    height: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    font-size: 16px;
    width: 98%;
    margin-left: 2%;
    margin-top: 16px;
}

.box {
    width: 385px;
    height: 140px;
    border: solid .25px #c36c30;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.link {
    width: 140px;
    display: flex;
}

footer {
    width: 98%;
    text-align: right;
    margin-right: 2%;
    margin-bottom: 10px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

    html {
        font-family: 'Courier New', Courier, monospace;
    }

    main {
        width: 80%;
        font-size: 11px;
    }

    .title {
        font-size: 13px;
    }

    .canvas {
        width: 80%;
        height: 80%;
    }

    html {
        font-size: 12px;
    }

    .contact {
        font-size: 13px;
    }
}